<nav>
    <div class="top-heading">
        <h2>TodO</h2>
    </div>
    <div class="full-screen-nav">
        <ul class="top-nav">
            <li><a href="">Features</a></li>
            <li><a href="">Resources</a></li>
            <li><a href="">Community</a></li>
        </ul>
        <ul class="main-nav">
            <li><a href="/logIn">Log In</a></li>
            <li><a href="signUp">Sign Up</a></li>
            <li><button type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
              </svg></button></li>
        </ul>
        <ul class="hidden">
            <li><a href="">Features</a></li>
            <li><a href="">Resources</a></li>
            <li><a href="">Community</a></li>
            <li><a href="/logIn"><button type="button">Log In</button></a></li>
            <li><a href="/signUp"><button type="button">Sign Up</button></a></li>
        </ul>
    </div>
</nav>