<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodO | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/headstyles.css">
</head>    
<%- include('./partials/head.ejs') %>
<body>
    <header>
    <%- include('./partials/nav.ejs') %>
    </header>
    <main>
        <h3>Managae and remember your tasks.</h3>
        <p class="att">TodO </p>
        <a href="/signUp" class="start-free"><button type="button" class="main-startfree">Start for free</button></a>
        <img src="" alt="">
        <p class="some top">Add your tasks</p>
        <p class="some">Organize your work</p>
        <p class="some">Make life efficient</p>
        <p class="some"><a href="">Explore more features</a></p>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>